

.contact tr{
  height:7rem;

  
}
.contact th{
  width: 150px;
  padding-right: 10px;
  text-align: right;
}
.contact td{
  padding-left:0px;
}
.contact .txt {
  width: 480px;
  
}
textarea{
  width: 480px;
}


.submit{
  left: 320px;
  
}

.button{
  font-size: 3rem;
  background: #008B8B;
  color: white;
  padding: 10px;
  border: none;
}

td :hover{
  opacity: 0.5;
}